/* Define typography styles for the application.
 * each font family is registered in tailwind.config.js;
 * extend the default theme with custom font families;
 */

/* Import custom fonts using @font-face */
/* 1. Define classes for each style of the same font family */
@font-face {
  font-family: 'Brockmann';
  src:
    url('../assets/fonts/Brockmann/brockmann-medium-webfont.woff') format('woff'),
    url('../assets/fonts/Brockmann/brockmann-medium-webfont.ttf') format('truetype'),
    url('../assets/fonts/Brockmann/brockmann-medium.otf') format('opentype');
  font-weight: 500; /* Adjust if needed */
  font-style: normal;
  font-display: swap;
}

/* 2. OR Let tailwind generate classes along with the `font-weight` utility classes */
@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-Thin'),
    url('../assets/fonts/Roboto/Roboto-Thin.woff2') format('woff2'),
    url('../assets/fonts/Roboto/Roboto-Thin.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-Regular'),
    url('../assets/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
    url('../assets/fonts/Roboto/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-Medium'),
    url('../assets/fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
    url('../assets/fonts/Roboto/Roboto-Medium.woff') format('woff');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-Bold'),
    url('../assets/fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
    url('../assets/fonts/Roboto/Roboto-Bold.woff') format('woff');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
