@reference "@/styles/tailwind.css";

.environment {
  @apply text-xs font-semibold;
  padding: 2px 5px;
  border-radius: 12px;
  font-weight: semibold;
}

.environment.development {
  background-color: #f0f0f0;
  color: #333333;
}
.environment.qa {
  background-color: #e0e0e0;
  color: #444444;
}
.environment.staging {
  background-color: #d0d0d0;
  color: #555555;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
  right: 0;
  z-index: 40;

  height: 80px;
  background-color: transparent;
  background-position: 0 0;

  border-bottom: 1px solid transparent;
}

.header.semiOpaque {
  background-color: var(--header-bg-color);
  border-bottom: 1px solid #e8e8e8;
  backdrop-filter: blur(10px);
  background-position: 0 -100%;
}
